<div class="flex-1 p-4 mx-20">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">編成評価一覧</h1>
    <%= link_to "編成を評価する", new_team_rating_path, class: "btn btn-primary" %>
  </div>

  <%# 検索フォーム部分 %>
  <%= render "shared/character_search_form", characters: @characters %>


  <%= turbo_frame_tag "teams-page-#{@teams.current_page}" do %>
  <% if @teams.empty? %>
    <div class="bg-base-200 bg-opacity-20 p-6 rounded-lg text-center ">
      <p class="text-lg">まだチーム評価がありません。</p>
    </div>
  <% else %>

    <div class="px-20">
      <% @teams.each_with_index do |team, index| %>
          <div class="grid lg:grid-cols-2 bg-base-200 rounded-lg overflow-hidden shadow-lg hover:translate-y-[-4px] transition-transform duration-300 m-4"
               data-aos="fade-up"
               data-aos-delay="<%= index * 100 %>">
            <div class="p-4 flex flex-col justify-center">
              <div class="flex items-center mb-2">
                <span class="text-2xl text-yellow-400 mr-2">★</span>
                <span class="text-2xl font-bold"><%= team.average_rating %></span>
                <div class="text-sm text-gray-500 ml-2">
                  (評価:<%= team.ratings_count %>件)
                </div>
              </div>
              <div class="flex items-center gap-2">
                <% if current_user && current_user.team_ratings.exists?(team_id: team.id) %>
                  <span class="text-blue-500 text-sm">
                    <i class="fas fa-check-circle mr-1"></i>評価済み
                  </span>
                <% else %>
                  <%= link_to "評価する", new_team_rating_path(team_id: team.id), class: "btn btn-sm btn-soft", data: { turbo_frame: "_top" } %>
                <% end %>
                <%= link_to "詳細", team_path(team), class: "btn btn-sm btn-soft", data: { turbo_frame: "_top" } %>
              </div>
            </div>

            <%= link_to team_path(team), class: "block", data: { turbo_frame: "_top" } do %>
              <div class="p-4 grid grid-cols-4 gap-2 items-center">
                <% team.characters.each_with_index do |character, index| %>
                  <div class="relative" data-aos="fade" data-aos-delay="<%= 1000 + index * 100 %>">
                    <%= image_tag character.display_image, class: "w-full h-auto object-contain max-h-24" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
  <% end %>
  <%= turbo_frame_tag "teams-page-#{@teams.next_page}", loading: :lazy, src: path_to_next_page(@teams) %>
  <% end %>
</div>
