<div class="flex-1 p-4 max-w-sm md:max-w-3xl mx-auto">
  <%= link_to t('defaults.return'), teams_path, class: "btn btn-xs btn-outline mb-2" %>

  <div class="overflow-hidden">
    <h1 class="text-2xl md:text-3xl font-bold"><%= t('teams.show.title') %></h1>

    <%# 編成の詳細 %>
    <div class="mt-4">
      <h2 class="text-xl font-bold mb-3"><%= t('teams.show.characters') %></h2>
      <div class="grid grid-cols-4 gap-2">
        <% @characters.each do |character| %>
          <div class="relative">
            <%= image_tag character.display_image(:large), class: "w-full shadow-lg"%>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-bold my-3"><%= t('teams.show.average_rating') %></h2>
      <div class="flex items-end mb-3">
        <span class="text-3xl text-yellow-400 mx-1">★</span>
        <span class="text-3xl font-bold mx-1"><%= @average %></span>
        <span class="text-lg text-gray-500 mx-1">/ 5.0</span>
        <div class="text-lg text-gray-500 ml-3">
          <p>(評価: <%= @ratings.count %>件)</p>
        </div>
      </div>
    </div>
  </div>

  <%# 編成評価一覧 %>
  <div class="py-4">
    <h2 class="text-xl font-bold mb-4"><%= t('teams.show.index_rating') %> (<%= @ratings.count %>件)</h2>

    <%# 編成評価一覧を表示 %>
    <% if @ratings.empty? %>
      <div class="bg-base-200 bg-opacity-20 p-4 rounded-lg text-center">
        <p><%= t('teams.show.no_rating') %></p>
      </div>
    <% else %>

      <%# 編成の評価をしていない場合は評価欄を出現 %>
      <% if user_signed_in? && @user_rating.nil? && @new_rating %>
        <div class="flex justify-between bg-base-200 rounded-lg shadow-lg overflow-hidden mb-6 p-2">
          <div class="md:flex items-center gap-2">
            <p class="font-bold"><%= current_user.user_name %></p>
            <p class="text-sm"> <%= t('teams.show.no_user_rating') %></p>
          </div>
          <div class="flex justify-center">
            <%= link_to t('teams.show.share_rating'), new_team_rating_path(team_id: @team.id), class: "btn bg-gray-500 text-white hover:opacity-80" %>
          </div>
        </div>

      <%# 編成評価済みの場合 %>
      <% elsif user_signed_in? && @user_rating %>
        <div class="bg-base-200 rounded-lg shadow-lg overflow-hidden mb-4">
          <div class="p-4">
            <div class="md:flex md:justify-between md:items-start">
              <div class="flex items-start">
                <div class="flex-shrink-0 mr-3">
                  <% if current_user.respond_to?(:avatar) && current_user.avatar.attached? %>
                    <%= image_tag url_for(current_user.avatar), class: "w-8 h-8 rounded-full object-cover", alt: current_user.user_name %>
                  <% else %>
                    <div class="w-8 h-8 bg-gray-600 text-primary-content rounded-full flex items-center justify-center">
                      <span class="text-sm font-bold"><%= current_user.user_name[0].upcase %></span>
                    </div>
                  <% end %>
                </div>
                <div>
                  <div class="flex items-center gap-2">
                    <span class="font-bold"><%= current_user.user_name %></span>
                    <span class="text-sm text-gray-500"> <%= t('teams.show.user_rating') %></span>
                    <div class="flex gap-2">
                      <%= link_to edit_team_rating_path(@user_rating),
                            data: { turbo_stream: true },
                            class: "text-gray-500" do %>
                        <i class="fas fa-edit"></i>
                      <% end %>
                      <%= button_to team_rating_path(@user_rating),
                          method: :delete,
                          class: "text-gray-500",
                          form: { data: { turbo_confirm: t('defaults.delete_confirm'), turbo_stream: true } } do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex items-center">
                <span class="text-xl text-yellow-400 mr-1">★</span>
                <span class="text-xl font-bold"><%= @user_rating.rating %></span>
                <span class="text-sm text-gray-500 ml-1">/5.0</span>
              </div>
            </div>

            <div class="mt-3">
              <div id="user_rating_<%= @user_rating.id %>" class="p-2 bg-base-300 bg-opacity-40 rounded">
                <%= simple_format @user_rating.body %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%# 他の人の評価一覧 %>
      <div class="py-2 flex-grow overflow-hidden">
        <h2 class="font-bold mb-2"><%= t('teams.show.others_rating') %></h2>
        <% @ratings.each do |rating| %>
          <% next if rating == @user_rating %>
          <div class="md:flex mb-1 justify-between">
            <div class="flex gap-2">
              <div class="flex-shrink-0"> <!-- アバター部分の幅を固定 -->
                <% if rating.user.respond_to?(:avatar) && rating.user.avatar.attached? %>
                  <%= image_tag url_for(rating.user.avatar), class: "w-8 h-8 rounded-full object-cover", alt: rating.user.user_name %>
                <% else %>
                  <div class="w-8 h-8 bg-gray-600 text-primary-content rounded-full flex items-center justify-center">
                    <span class="text-sm font-bold"><%= rating.user.user_name[0].upcase %></span>
                  </div>
                <% end %>
              </div>

              <div class="flex-grow">
                <div class="md:flex md:justify-between md:items-start w-full">
                  <div class="flex items-end gap-3">
                    <div class="font-medium"><%= rating.user.user_name %></div>
                    <div class="text-sm text-gray-500">
                      <%= date_with_version(rating.created_at) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex items-center">
              <span class="md:text-xl text-yellow-400 mr-1">★</span>
              <span class="md:text-xl font-bold"><%= rating.rating %></span>
              <span class="text-xs md:text-sm text-gray-400 ml-1">/5.0</span>
            </div>
          </div>
          <div class="md:ml-10 text-sm md:text-base">
            <%= simple_format(rating.body) %>
          </div>

          <% unless rating == @ratings.where.not(id: @user_rating&.id).last %>
            <hr class="border-gray-500 my-2">
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
