<div class="top-wrapper relative overflow-hidden h-screen">
  <!-- 画面を左右に分割するグリッドレイアウト -->
  <div class="grid grid-cols-2 h-full">

    <!-- 左側 - メニューとボタン -->
    <div class="relative z-10 flex items-center p-4">
      <div>
        <!-- 検索セクション -->
        <div class="mb-10">
          <h2 class="text-white text-2xl mb-4">-SEARCH-</h2>
          <div class="flex flex-col gap-8">
            <div>
              <%= link_to t('.video_search'), posts_path, class: 'bg-white bg-opacity-60 hover:bg-opacity-70 text-left p-2 rounded-sm text-black font-semibold block' %>
            </div>
            <div>
              <%= link_to t('.team_search'), '#', class: 'bg-white bg-opacity-60 hover:bg-opacity-70 text-left p-2 rounded-sm text-black font-semibold block' %>
            </div>
          </div>
        </div>

        <!-- シェアセクション -->
        <div>
          <h2 class="text-white text-2xl mb-4">-SHARE-</h2>
          <div class="flex flex-col gap-8">
            <div>
              <% if logged_in? %>
                <%= link_to t('.video_share'), new_post_path, class: 'bg-white bg-opacity-60 hover:bg-opacity-70 text-left p-2 rounded-sm text-black font-semibold block' %>
              <% else %>
                <%= link_to t('.video_share'), login_path, class: 'bg-white bg-opacity-60 hover:bg-opacity-70 text-left p-2 rounded-sm text-black font-semibold block' %>
              <% end %>
            </div>
            <div>
              <%= link_to t('.team_rating'), '#', class: 'bg-white bg-opacity-60 hover:bg-opacity-70 text-left p-2 rounded-sm text-black font-semibold block' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 右側 - タイトルとロゴ -->
    <div class="relative z-10 flex items-center p-4"> <!-- items-centerで縦方向中央揃え -->
      <h1 class="text-8xl font-bold tracking-wider text-left m-4">
        <span class="block text-white text-shadow-glow">GENSHIN</span>
        <span class="block text-white text-shadow-glow">TEAM</span>
        <div class="grid grid-cols-6 text-left text-shadow-glow">
          <div class="col-span-1">
            <span class="text-8xl text-white tracking-wider">S</span>
          </div>
          <div class="col-span-5 flex flex-col m-1">
            <span class="text-4xl text-white tracking-wider">EARCH</span>
            <span class="text-4xl text-white tracking-wider">HARE</span>
          </div>
        </div>
      </h1>
    </div>
  </div>
</div>
