<div class="min-h-screen text-base-content">
  <div class="max-w-sm mx-auto">
    <div class="p-6">
      <div class="flex justify-between items-center mb-8">
        <h1 class="text-2xl font-bold"><%= t('.title') %></h1>
        <%= link_to edit_profile_path, class: 'btn bg-gray-500 text-white hover:opacity-80' do %>
          <%= t('defaults.edit') %>
        <% end %>
      </div>

      <div class="overflow-x-auto">
        <div class="w-full">
          <div class="space-y-6">
            <%# メールアドレス %>
            <div class="form-control w-full">
              <div class="label mb-2"><%= User.human_attribute_name(:email) %></div>
              <div class="text-lg"><%= current_user.email %></div>
            </div>

            <%# ユーザー名 %>
            <div class="form-control w-full">
              <div class="label mb-2"><%= User.human_attribute_name(:user_name) %></div>
              <div class="text-lg"><%= current_user.user_name %></div>
            </div>

            <%# アバター %>
            <div class="form-control w-full">
              <div class="label mb-2"><%= User.human_attribute_name(:avatar) %></div>
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, class: "rounded-full w-24 h-24 object-cover" %>
              <% else %>
                <div class="w-20 h-20 bg-gray-600 text-primary-content rounded-full flex items-center justify-center">
                  <span class="text-4xl font-bold"><%= current_user.user_name[0].upcase %></span>
                </div>
              <% end %>
            </div>
            
            <%# 通知設定 %>
            <div class="form-control w-full">
              <div class="label mb-2"><%= User.human_attribute_name(:receive_request_notifications) %></div>
              <div class="text-lg">
                <%= current_user.receive_request_notifications? ? '受信する' : '受信しない' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
