<div class="row mb-3" id="comment-form">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: comment, url: post_comments_path(post) do |f| %>
      <%= render 'shared/error_message', object: f.object %>
      <%= f.label :コメント %>
      <div class="flex justify-between">
        <%= f.text_area :comment, class: "border w-full m-1",rows: "2" %>
        <%= f.submit t('defaults.create'), class: "btn btn-primary m-1" %>
      </div>
    <% end %>
  </div>
</div>
