<%= turbo_stream.replace "comment-#{@comment.id}" do %>
  <div id="comment-<%= @comment.id %>" class="comment <%= 'reply' if @comment.parent_id.present? %>">
    <%= form_with model: @comment, data: { turbo: true } do |f| %>
      <div class="field flex gap-2 items-end">
        <%= f.text_area :comment, class: "form-control border rounded-sm text-sm w-full p-1" %>
        <%= f.submit t('defaults.update'), class: "btn bg-gray-500 text-white hover:opacity-80 btn-sm" %>
        <%= link_to t('defaults.cancel'), cancel_comment_path(@comment), class: "btn bg-default hover:opacity-80 btn-sm",
            data: { turbo_stream: true } %>
      </div>
    <% end %>
  </div>
<% end %>
