<div class="navbar bg-base-200 shadow-sm">
  <div class="dropdown">
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
    </div>
    <ul
      tabindex="0"
      class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow text-xl">
      <li><a><%= link_to "編成動画検索", '#' %></a></li>
      <li><a><%= link_to "編成一覧検索", '#' %></a></li>
      <li><a><%= link_to "おすすめ動画シェア", '#' %></a></li>
      <li><a><%= link_to "編成評価シェア", '#' %></a></li>
    </ul>
    </ul>
  </div>
  <div class="flex-1">
    <%= link_to "GenshinTeamSearch", '/', class: 'btn btn-ghost text-xl' %>
  </div>
  <div class="flex gap-2">
    <%= render 'shared/theme_toggle' %>
    <div class="flex-1">
      <%= link_to "Login", login_path, class: 'btn btn-ghost text-xl' %>
    </div>
  </div>
</div>
