<div class="fixed bottom-0 left-0 right-0 bg-base-300 z-40">
  <div class="flex gap-2 justify-between w-full h-16">

    <%# おすすめ動画 %>
    <%= link_to posts_path,
        class: "flex flex-col items-center justify-center space-y-1 hover:bg-base-content/10 w-1/5",
        data: { action: "click->loading#show" } do %>
      <i class="fab fa-youtube text-lg"></i>
      <span class="text-xs"><%= t('.video_search') %></span>
    <% end %>

    <%# 編成評価 %>
    <%= link_to teams_path,
        class: "flex flex-col items-center justify-center space-y-1 hover:bg-base-content/10 w-1/5",
        data: { action: "click->loading#show" } do %>
      <i class="fas fa-users text-lg"></i>
      <span class="text-xs"><%= t('.team_rating_search') %></span>
    <% end %>

    <%# シェア %>
    <div class="dropdown dropdown-top dropdown-end w-1/5">
      <div tabindex="0" role="button" class="flex flex-col items-center justify-center space-y-1 hover:bg-base-content/10 w-full h-full">
        <i class="fas fa-plus-circle text-lg"></i>
        <span class="text-xs"><%= t('.share') %></span>
      </div>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-48 mb-2">
        <li>
          <%= link_to new_post_path, data: { action: "click->loading#show" } do %>
            <i class="fas fa-external-link-alt"></i>
            <%= t('.video_share') %>
          <% end %>
        </li>
        <li>
          <%= link_to new_team_rating_path, data: { action: "click->loading#show" } do %>
            <i class="fas fa-star"></i>
            <%= t('.team_rating_share') %>
          <% end %>
        </li>
      </ul>
    </div>

    <%# マイページ %>
    <%= link_to mypage_path(tab: 'posts'),
        class: "flex flex-col items-center justify-center space-y-1 hover:bg-base-content/10 w-1/5",
        data: { action: "click->loading#show" } do %>
      <i class="fas fa-home text-lg"></i>
      <span class="text-xs"><%= t('.mypage') %></span>
    <% end %>

    <%# 管理者 %>
    <% if current_user&.role == 1 || current_user&.admin? %>
      <div class="dropdown dropdown-top dropdown-end w-1/5">
        <div tabindex="0" role="button" class="flex flex-col items-center justify-center space-y-1 hover:bg-base-content/10 w-full h-full">
          <i class="fas fa-user-lock text-lg"></i>
          <span class="text-xs"><%= t('.admin') %></span>
        </div>
        <ul tabindex="0" class="dropdown-content menu text-sm p-2 shadow bg-base-100 rounded-box w-48 mb-2">
          <li><%= link_to t('.admin_dashboard'), admin_root_path, data: { action: "click->loading#show" } %></li>
          <li><%= link_to t('.admin_users'), admin_users_path, data: { action: "click->loading#show" } %></li>
          <li><%= link_to t('.admin_characters'), admin_characters_path, data: { action: "click->loading#show" } %></li>
          <li><%= link_to t('.admin_posts'), admin_posts_path, data: { action: "click->loading#show" } %></li>
          <li><%= link_to t('.admin_comments'), admin_comments_path, data: { action: "click->loading#show" } %></li>
          <li><%= link_to t('.admin_teams'), admin_teams_path, data: { action: "click->loading#show" } %></li>
          <li><%= link_to t('.admin_team_ratings'), admin_team_ratings_path, data: { action: "click->loading#show" } %></li>
          <li><%= link_to t('.admin_requests'), admin_requests_path, data: { action: "click->loading#show" } %></li>
        </ul>
      </div>
    <% end %>

  </div>
</div>
