<div class="bg-base-200 min-h-screen w-52 shadow-inner">
  <div class="py-4">
    <h2 class="text-lg font-bold px-4 mb-2">-検索-</h2>
    <ul>
      <li class="hover:bg-base-300">
        <%= link_to 'おすすめ動画', posts_path, class: "block px-4 py-2 w-full h-full", data: { action: "click->loading#show" } %>
      </li>
      <li class="hover:bg-base-300">
        <%= link_to '編成評価', teams_path, class: "block px-4 py-2 w-full h-full", data: { action: "click->loading#show" } %>
      </li>
    </ul>
  </div>

  <div class="py-4">
    <h2 class="text-lg font-bold px-4 mb-2">-シェア-</h2>
    <ul>
      <li class="hover:bg-base-300">
        <%= link_to 'おすすめ動画', new_post_path, class: "block px-4 py-2 w-full h-full", data: { action: "click->loading#show" } %>
      </li>
      <li class="hover:bg-base-300">
        <%= link_to '編成評価', new_team_rating_path, class: "block px-4 py-2 w-full h-full", data: { action: "click->loading#show" } %>
      </li>
    </ul>
  </div>

  <div class="py-4">
    <% if current_user&.role == 1 || current_user&.admin? %>
      <h2 class="text-lg font-bold px-4 mb-2">-管理者パネル-</h2>
      <ul>
        <li class="hover:bg-base-300">
          <%= link_to '管理画面', admin_root_path, class: "block px-4 py-2 w-full h-full" %>
        </li>
        <li class="hover:bg-base-300">
          <%= link_to 'ユーザー管理', admin_users_path, class: "block px-4 py-2 w-full h-full" %>
        </li>
        <li class="hover:bg-base-300">
          <%= link_to 'キャラクター管理', admin_characters_path, class: "block px-4 py-2 w-full h-full" %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
