<div class="bg-base-200 min-h-screen w-full shadow-inner flex flex-col">
  <!-- メインナビゲーション部分 -->
  <div class="flex-1">
    <!-- 検索セクション -->
    <div class="py-4 sidebar-border border-b border-gray-500">
      <h2 class="sidebar-title text-lg font-bold px-4">-検索-</h2>
      <ul>
        <li class="hover:bg-base-300">
          <%= link_to posts_path, class: "sidebar-link block px-4 py-1 w-full h-full", data: { action: "click->loading#show" } do %>
            <i class="fab fa-youtube"></i>
            <span class="sidebar-text ml-2">おすすめ動画</span>
          <% end %>
        </li>
        <li class="hover:bg-base-300">
          <%= link_to teams_path, class: "sidebar-link block px-4 py-1 w-full h-full", data: { action: "click->loading#show" } do %>
           <i class="fas fa-users"></i>
           <span class="sidebar-text ml-2">編成評価</span>
          <% end %>
        </li>
      </ul>
    </div>

    <!-- シェアセクション -->
    <div class="py-4 sidebar-border border-b border-gray-500">
      <h2 class="sidebar-title text-lg font-bold px-4">-シェア-</h2>
      <ul>
        <li class="hover:bg-base-300">
          <%= link_to new_post_path, class: "sidebar-link block px-4 py-1 w-full h-full", data: { action: "click->loading#show" } do %>
          <i class="fas fa-external-link-alt"></i>
          <span class="sidebar-text ml-2">おすすめ動画シェア</span>
          <% end %>
        </li>
        <li class="hover:bg-base-300">
          <%= link_to new_team_rating_path, class: "sidebar-link block px-4 py-1 w-full h-full", data: { action: "click->loading#show" } do %>
          <i class="fas fa-star"></i>
          <span class="sidebar-text ml-2">編成評価</span>
          <% end %>
        </li>
      </ul>
    </div>

    <!-- マイページセクション -->
    <div class="py-2 sidebar-border border-b border-gray-500">
        <div class="hover:bg-base-300">
          <%= link_to mypage_path(tab: 'posts'), class: "sidebar-link block px-4 py-1 w-full h-full", data: { action: "click->loading#show" } do %>
            <i class="fas fa-home"></i>
            <span class="sidebar-text ml-2">マイページ</span>
          <% end %>
        </div>
    </div>

    <!-- 管理者パネルセクション -->
    <% if current_user&.role == 1 || current_user&.admin? %>
      <div class="py-4 sidebar-border border-b border-gray-500">
        <h2 class="sidebar-title text-lg font-bold px-4 mb-2">-管理者設定-</h2>
        <ul>
          <li class="hover:bg-base-300">
            <%= link_to admin_root_path, class: "sidebar-link block px-4 py-1 w-full h-full", data: { action: "click->loading#show" } do %>
              <i class="fas fa-cog"></i>
              <span class="sidebar-text ml-2">管理画面</span>
            <% end %>
          </li>
          <li class="hover:bg-base-300">
            <%= link_to admin_users_path, class: "sidebar-link block px-4 py-1 w-full h-full", data: { action: "click->loading#show" } do %>
              <i class="fas fa-users-cog"></i>
              <span class="sidebar-text ml-2">ユーザー管理</span>
            <% end %>
          </li>
          <li class="hover:bg-base-300">
            <%= link_to admin_characters_path, class: "sidebar-link block px-4 py-1 w-full h-full", data: { action: "click->loading#show" } do %>
              <i class="fas fa-user-friends"></i>
              <span class="sidebar-text ml-2">キャラクター管理</span>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>

  <!-- サイドバーフッター部分 -->
  <div class="mt-auto py-2 border-t border-gray-500">
    <!-- リンク集 -->
    <nav class="mb-16">
      <ul class="text-sm">
        <li>
          <%= link_to terms_of_use_path, class: "sidebar-link flex items-center px-2 py-1 rounded hover:bg-base-300 transition-colors", data: { action: "click->loading#show" } do %>
            <span class="sidebar-text ml-2"><%= t('footer.term_of_use') %></span>
          <% end %>
        </li>
        <li>
          <%= link_to privacy_policy_path, class: "sidebar-link flex items-center px-2 py-1 rounded hover:bg-base-300 transition-colors", data: { action: "click->loading#show" } do %>
            <span class="sidebar-text ml-2"><%= t('footer.privacy_policy') %></span>
          <% end %>
        </li>
        <li>
          <%= link_to '#', class: "sidebar-link flex items-center px-2 py-1 rounded hover:bg-base-300 transition-colors" do %>
            <span class="sidebar-text ml-2"><%= t('footer.contact') %></span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>
