<div class="bg-base-200 min-h-screen w-52 shadow-inner">
  <div class="py-4">
    <h2 class="text-lg font-bold px-4 mb-2">-SEARCH-</h2>
    <ul>
      <li class="px-4 py-2 hover:bg-base-300">
        <%= link_to '編成動画検索', posts_path %>
      </li>
      <li class="px-4 py-2 hover:bg-base-300">
        <%= link_to '編成一覧検索', '#' %>
      </li>
    </ul>
  </div>

  <div class="py-4">
    <h2 class="text-lg font-bold px-4 mb-2">-SHARE-</h2>
    <ul>
      <li class="px-4 py-2 hover:bg-base-300">
        <%= link_to 'おすすめ動画シェア', new_post_path %>
      </li>
      <li class="px-4 py-2 hover:bg-base-300">
        <%= link_to '編成評価', '#' %>
      </li>
    </ul>
  </div>

  <div class="py-4">
    <h2 class="text-lg font-bold px-4 mb-2">-マイリスト-</h2>
    <ul>
      <li class="px-4 py-2 hover:bg-base-300">
        <%= link_to 'マイシェアリスト', '#' %>
      </li>
      <li class="px-4 py-2 hover:bg-base-300">
        <%= link_to 'お気に入りリスト', '#' %>
      </li>
    </ul>
  </div>
</div>
