<%= form_for([namespace, page.resource], html: { class: "card bg-base-100 shadow-xl p-6" }) do |f| %>

  <%# エラーメッセージ表示 %>
  <%= render 'shared/error_message', object: page.resource %>
  <% page.attributes(controller.action_name).each do |title, attributes| %>
    <fieldset class="<%= "border rounded-lg p-4 border-base-300" if title.present? %>">
      <% if title.present? %>
        <legend class="text-lg font-medium px-2"><%= t "helpers.label.#{f.object_name}.#{title}", default: title %></legend>
      <% end %>

      <div class="grid grid-cols-2">
        <% attributes.each do |attribute| %>
          <div class="form-control w-full">
            <div class="h-full p-2">
              <%= render_field attribute, f: f %>
            </div>

            <% hint_key = "administrate.field_hints.#{page.resource_name}.#{attribute.name}" %>
            <% if I18n.exists?(hint_key) %>
              <label class="label">
                <span class="label-text-al"><%= I18n.t(hint_key) %></span>
              </label>
            <% end %>
          </div>
        <% end %>
      </div>
    </fieldset>
  <% end %>

  <div class="card-actions justify-end mt-6">
    <%= f.submit class: "btn bg-gray-500 text-white hover:opacity-80" %>
    <%= link_to t("defaults.cancel"), url_for(action: :index), class: "btn btn-outline" %>
  </div>
<% end %>
