<%= turbo_stream.replace "user_rating_#{@team_rating.id}" do %>
  <div id="user_rating_<%= @team_rating.id %>" class="card">

    <%= form_with model: @team_rating, data: { turbo: true } do |f| %>
      <div data-controller="star-rating" class="mb-4">
        <div class="flex items-center justify-center">

          <%# 星をクリックするための入力エリア %>
          <div class="star-input ml-2">
            <% (1..5).each do |i| %>
              <div class="star-input-item" data-value="<%= i %>" data-action="click->star-rating#selectRating">
                <div class="half-star" data-action="click->star-rating#selectHalfRating"></div>
                ★
              </div>
            <% end %>
          </div>

          <span class="rating-value" data-star-rating-target="display">
            <%= @team_rating.rating ? @team_rating.rating.to_f : '0.0' %>
          </span>
        </div>

        <%# 評価を保持するための隠しフィールド %>
        <%= f.hidden_field :rating, data: { star_rating_target: "input" }, value: @team_rating.rating %>
      </div>

      <%#% コメント欄 %>
      <div class="mb-4">
        <%= f.text_area :body, class: 'input input-bordered w-full h-auto text-lg', rows: 3 %>
      </div>

      <%# ボタン %>
      <div class="flex justify-center gap-4">
        <%= f.submit class: 'btn w-32 bg-gray-500 text-white hover:opacity-80' %>
        <%= link_to t('defaults.cancel'), team_path(@team.id),
              class: 'btn btn-soft w-32 hover:opacity-80' %>
      </div>
    <% end %>
  </div>
<% end %>
