<%= turbo_steram.replace "urer_rating_#{@team_rating.id}" do %>
  <div id="user_rating_<%= @team_rating.id %>" class="bg-base-200 rounded-lg shadow-lg overflow-hidden mb-4">
    <div class="p-4 flex justify-between items-center">
      <div class="flex gap-3">
        <div class="flex gap-2 items-end mr-3">
          <h2 class="text-lg font-bold"><%= current_user.user_name %></h2>
          <p> さんの評価</p>
        </div>
        <%= link_to edit_team_rating_path(@user_rating),
              data: {turbo_stream: true } do %>
          <i class="fas fa-edit text-lg text-gray-500"></i>
        <% end %>
        <%= link_to team_rating_path(@user_rating),
            method: :delete,
            from: { data: { turbo_confirm: "本当に削除しますか？", turbo_stream: true } } do %>
            <i class="fas fa-trash-alt text-lg text-gray-500"></i>
        <% end %>
      </div>
      <div class="flex items-center">
        <span class="text-xl text-yellow-400 mr-2">★</span>
        <span class="text-xl font-bold"><%= @team_rating.rating %></span>
        <span class="text-sm text-gray-500 ml-2">/5.0</span>
      </div>
    </div>
    
    <div class="px-4 pb-4">
      <div class="border bg-opacity-40 p-2 rounded-lg">
        <%= simple_format @user_rating.body %>
      </div>
    </div>
  </div>
<% end %>

<%= turbo_stream.prepend "flash" do %>
  <div class="alert alert-success mb-4" role="alert">
    <div>評価を更新しました</div>
  </div>
<% end %>
