<div class="mb-4">
  <%= label_tag 'youtube_start_time', t('.start_time'), class: "block font-medium text-sm mb-1" %>
  <div class="flex items-center">
    <%= number_field_tag 'time[hours]', @post.youtube_start_time.present? ? @post.youtube_start_time / 3600 : nil,
        min: 0, max: 23, placeholder: t('.start_time_hours'),
        class: 'w-16 px-2 py-1 input input-bordered mx-1 focus:ring-indigo-500 focus:border-indigo-500' %>
    <span class="text-lg font-bold">:</span>
    <%= number_field_tag 'time[minutes]', @post.youtube_start_time.present? ? (@post.youtube_start_time % 3600) / 60 : nil,
        min: 0, max: 59, placeholder: t('.start_time_minutes'),
        class: 'w-16 px-2 py-1 input input-bordered mx-1 focus:ring-indigo-500 focus:border-indigo-500' %>
    <span class="text-lg font-bold">:</span>
    <%= number_field_tag 'time[seconds]', @post.youtube_start_time.present? ? @post.youtube_start_time % 60 : nil,
        min: 0, max: 59, placeholder: t('.start_time_seconds'),
        class: 'w-16 px-2 py-1 input input-bordered mx-1 focus:ring-indigo-500 focus:border-indigo-500' %>
  </div>
  <p class="text-sm text-gray-500 mt-1"><%= t('.start_time_memo') %></p>
</div>
