<div class="flex-1 p-8 mx-40">
  <div class="flex justify-between">
    <h1 class="text-3xl font-bold text-base-content mb-4">編成動画検索</h1>
    <div>
      <%= link_to 'シェアする', new_post_path, class: "btn btn-primary" %>
    </div>
  </div>

  <!-- 検索フォーム部分 -->
  <div class="mb-10">
    <h2 class="text-xl font-bold mb-4">検索キャラクター</h2>

    <%= form_with url: posts_path, method: :get, local: true, class: "flex justify-center space-x-2 mb-2" do |f| %>
      <input type="text" name="character1" class="input input-bordered w-36 h-10">
      <input type="text" name="character2" class="input input-bordered w-36 h-10">
      <input type="text" name="character3" class="input input-bordered w-36 h-10">
      <input type="text" name="character4" class="input input-bordered w-36 h-10">
      <button type="submit" class="btn btn-sm btn-primary">検索</button>
    <% end %>
  </div>

  <!-- 投稿一覧部分 -->
  <div>
    <div class="flex mb-4">
      <h2 class="text-xl font-bold">おすすめ動画一覧</h2>
    </div>

    <!-- 投稿カードのグリッド -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <%= link_to post_path(post), class: "card bg-base-200 shadow-xl" do %>
            <!-- サムネイル部分 -->
            <div class="relative">
              <div class="w-full h-0 pb-[56.25%] relative">
                <% if post.video_url.present? %>
                  <% youtube_id = post.video_url.match(/(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/\s]{11})/)&.captures&.first %>
                  <% if youtube_id %>
                    <img src="https://img.youtube.com/vi/<%= youtube_id %>/mqdefault.jpg" alt="<%= post.title %>" class="absolute inset-0 w-full h-full object-cover">
                  <% else %>
                    <div class="absolute inset-0 bg-gray-200 flex items-center justify-center">
                      <span class="text-gray-500">Invalid YouTube URL</span>
                    </div>
                  <% end %>
                <% else %>
                  <div class="absolute inset-0 bg-gray-200 flex items-center justify-center">
                    <span class="text-gray-500">No Image</span>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- カード本文 -->
            <div class="card-body p-4">
              <h2 class="card-title text-base"><%= post.title %></h2>
              <div class="text-sm overflow-hidden h-24 text-gray-700"><%= post.body %></div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="col-span-2 text-center p-8">
          投稿がまだありません。
        </div>
      <% end %>
    </div>
  </div>
</div>
