<div class="flex-1 p-4 mx-20">
  <div class="flex justify-between">
    <h1 class="text-3xl font-bold text-base-content mb-4">編成動画検索</h1>
    <div>
      <%= link_to 'シェアする', new_post_path, class: "btn btn-primary" %>
    </div>
  </div>

  <!-- 検索フォーム部分 -->
  <div class="mx-12 p-4 rounded-xl shadow-xl">
    <h2 class="text-xl font-bold mb-2">検索キャラクター</h2>

    <%= form_with url: posts_path, method: :get, local: true, class: "flex flex-wrap justify-center gap-4" do |f| %>
      <% 4.times do |i| %>
        <div class="flex flex-col space-y-2" data-controller="character-selector">
          <div class="w-full">
            <%= select_tag "character#{i+1}",
                      options_from_collection_for_select(@characters, :id, :name, params["character#{i+1}"]),
                      include_blank: 'キャラクター選択',
                      class: 'select-bordered w-full h-10 character-select',
                      data: {
                        character_selector_target: "select",
                        action: "change->character-selector#change"
                      } %>
          </div>
          <div data-character-selector-target="container"
            class="character-image-container h-24 flex items-center justify-center hidden">
            <img data-character-selector-target="image"
                class="character-image h-full object-contain"
                alt="キャラクター画像">
          </div>
        </div>
      <% end %>
      <div class="flex">
        <button type="submit" class="btn btn-sm btn-primary">検索</button>
      </div>
    <% end %>
  </div>

  <!-- 投稿一覧部分 -->
  <div>
    <div class="flex my-4">
      <h2 class="text-xl font-bold">おすすめ動画一覧</h2>
    </div>

    <!-- 投稿カードのグリッド -->
    <%= turbo_frame_tag "posts-page-#{@posts.current_page}" do %>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <%= render 'shared/posts', post: post %>
        <% end %>
      <% elsif @posts.empty? && params[:character1].present? || params[:character2].present? || params[:character3].present? || params[:character4].present? %>
        <div class="flex justify-center text-center p-8">
          <% if user_signed_in? %>
            <%= link_to "動画リクエストを送信",
                        new_request_path(
                          character1: params[:character1],
                          character2: params[:character2],
                          character3: params[:character3],
                          character4: params[:character4]
                        ),
                        class: "btn btn-primary",
                        data: { turbo_frame: "_top" } %>
          <% else %>
            <%= link_to "ログインしてリクエスト送信", login_path, class: "btn btn-primary", data: { turbo_frame: "_top" } %>
          <% end %>
        </div>
      <% else %>
        <div class="flex justify-center text-center p-8">
          投稿がまだありません。
        </div>
      <% end %>
    </div>
    <%= turbo_frame_tag "posts-page-#{@posts.next_page}", loading: :lazy, src: path_to_next_page(@posts) %>
    <% end %>
  </div>
</div>
