<div class="flex-1 p-4 md:mx-4">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl md:text-3xl font-bold"><%= t('.title') %></h1>
    <div>
      <%= link_to t('defaults.share'), new_post_path, class: "btn bg-gray-500 text-white hover:opacity-80" %>
    </div>
  </div>

  <%# 検索フォーム部分 %>
  <%= render "shared/character_search_form", characters: @characters %>

  <%# ソート切り替えボタン
      **request.query_parameters.except(:sort, :page) で現在のキャラクター検索とタグ検索条件を引き継ぎながらソート変更できる。
      **はハッシュ展開、query_parametersは現在のリクエストのパラメータを取得、exceptでページネーションとソート条件を除外している。
       %>
  <div class="flex justify-start mb-2">
    <div class="btn-group">
      <%= link_to t('.sort_by_new'),
          posts_path(sort: nil, **request.query_parameters.except(:sort, :page)),
          class: "btn btn-sm #{'btn-active' if params[:sort].blank?}" %>

      <%= link_to t('.sort_by_likes'),
          posts_path(sort: 'likes', **request.query_parameters.except(:sort, :page)),
          class: "btn btn-sm #{'btn-active' if params[:sort] == 'likes'}" %>
    </div>
  </div>

  <%# 投稿一覧部分 %>
  <div class="mt-4">
    <%# 投稿カードのグリッド %>
    <div data-controller="aos-frame">
      <%= turbo_frame_tag "posts-page-#{@posts.current_page}" do %>

      <% if @posts.present? %>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mt-4">
          <% @posts.each_with_index do |post, index| %>
            <%= render 'shared/posts', post: post, index: index %>
          <% end %>
        </div>
      <% elsif @posts.empty? && params[:character1].present? || params[:character2].present? || params[:character3].present? || params[:character4].present? %>
        <div class="flex flex-col justify-center text-center p-8" data-aos="fade-in" data-aos-delay="300">
          <% if user_signed_in? %>
            <p class="text-gray-500 mb-4"><%= t('.no_posts_with_characters') %></p>
            <%= link_to t('.request'),
                        new_request_path(
                          character1: params[:character1],
                          character2: params[:character2],
                          character3: params[:character3],
                          character4: params[:character4]
                        ),
                        class: "btn bg-gray-500 mx-auto text-white hover:opacity-80",
                        data: { turbo_frame: "_top" } %>
          <% else %>
            <p class="text-gray-500 mb-4"><%= t('.no_posts_with_characters') %></p>
            <%= link_to t('.request_login'), login_path, class: "btn bg-gray-500 mx-auto text-white hover:opacity-80", data: { turbo_frame: "_top" } %>
          <% end %>
        </div>
      <% else %>
        <div class="flex justify-center text-center p-8">
          <%= t('.no_posts') %>
        </div>
      <% end %>

      <%= turbo_frame_tag "posts-page-#{@posts.next_page}", loading: :lazy, src: path_to_next_page(@posts) %>
      <% end %>
    </div>
  </div>
</div>
