<% content_for(:title, @post.title) %>
<div class="flex-1 p-4 md:mx-4">
  <%= link_to t('defaults.return'), posts_path, class: "btn btn-xs btn-outline mb-2" %>

  <div class="overflow-hidden">
    <div class="lg:grid lg:grid-cols-3 lg:gap-4">
      <div class="lg:col-span-2">

        <%# 動画表示 %>
        <% if @post.video_url.present? %>
          <% youtube_id = extract_youtube_id(@post.video_url) %>
          <% if youtube_id %>
            <div class="relative w-full shadow-md" style="padding-bottom: 56.25%;">
              <iframe
                id="youtube-player"
                class="absolute top-0 left-0 w-full h-full rounded-lg"
                src="https://www.youtube.com/embed/<%= youtube_id %>"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>
          <% else %>
            <div class="bg-gray-200 flex items-center justify-center h-64 rounded-md">
              <span class="text-gray-500"><%= t('.no_youtube') %></span>
            </div>
          <% end %>
        <% end %>

        <%# 投稿者チャンネル情報 %>
        <div class="inline-flex bg-base-300 rounded-full py-1 px-4 mt-2 font-semibold"><%= t('.creator_link') %></div>
        <% if @video_data&.items&.any? && @channel_data&.items&.any? %>
          <% video = @video_data.items.first %>
          <% channel = @channel_data.items.first %>

          <div class="flex items-center justify-between p-2">
            <div class="sm:flex sm:items-center gap-3 mb-3 md:mb-0">
              <div class="flex items-center gap-3 mb-3 md:mb-0"">
                <% if channel.snippet&.thumbnails&.default&.url %>
                <a href="https://www.youtube.com/channel/<%= channel.id %>" target="_blank" class="flex-shrink-0">
                  <img src="<%= channel.snippet.thumbnails.default.url %>"
                      alt="<%= channel.snippet.title %>"
                      class="w-8 h-8 md:w-12 md:h-12 rounded-full object-cover">
                </a>
                <% end %>

                <div class="flex flex-col">
                  <a href="https://www.youtube.com/channel/<%= channel.id %>" target="_blank" class="block font-bold text-sm md:text-xl line-clamp-1">
                    <%= channel.snippet.title %>
                  </a>

                  <% if !channel.statistics.hidden_subscriber_count && channel.statistics.subscriber_count %>
                  <% subscriber_count = channel.statistics.subscriber_count.to_i %>
                  <span class="text-xs text-gray-500">
                    <% if subscriber_count < 10000 %>
                      <%= t('.subscribers') %> <%= number_with_delimiter(subscriber_count) %>
                    <% elsif subscriber_count < 1000000 %>
                      <%= t('.subscribers') %> <%= (subscriber_count / 10000.0).round(1) %>万
                    <% else %>
                      <%= t('.subscribers') %> <%= (subscriber_count / 10000).to_i / 100.0 %>万
                    <% end %>
                  </span>
                  <% end %>
                </div>
              </div>
              <a href="https://www.youtube.com/channel/<%= channel.id %>?sub_confirmation=1"
                target="_blank"
                class="font-bold text-xs md:text-xs bg-gray-500 hover:bg-gray-400 text-white rounded-full py-2 px-2 md:px-4 shadow-lg">
                <%= t('.subscribe') %>
              </a>
            </div>
          </div>
        <% end %>
      </div>

      <%# シェア情報 %>
      <div class="md:col-span-1 bg-base-200 rounded-xl shadow-lg p-4 mb-2">
        <h2 class="text-lg font-bold mb-4 rounded-full bg-base-300 p-1 text-center"><%= t('.share_info') %></h2>
        <div class="flex flex-row justify-between items-center">
          <div class="flex items-center gap-2">
            <h1 class="text-xl font-bold"><%= @post.title %></h1>
            <% if current_user && current_user.id == @post.user_id %>
              <%= link_to edit_post_path(@post),
                  class: "hover:bg-base-200" do %>
                <i class="fas fa-edit text-xl text-gray-500"></i>
              <% end %>

              <%= button_to post_path(@post),
                  method: :delete,
                  form: { data: { turbo_confirm: t('defaults.delete_confirm') } },
                  class: "hover:bg-base-200" do %>
                <i class="fas fa-trash-alt text-xl text-gray-500"></i>
              <% end %>
            <% end %>
          </div>
        </div>

        <%# 共有者情報 %>
        <div class="md:flex md:justify-between md:gap-2 md:items-center py-2">
          <div class="flex gap-2 items-center">
            <div class="flex-shrink-0">
              <% if @post.user.respond_to?(:avatar) && @post.user.avatar.attached? %>
                <%= image_tag url_for(@post.user.avatar), class: "w-8 h-8 rounded-full object-cover", alt: @post.user.user_name %>
              <% else %>
                <div class="w-8 h-8 bg-primary text-primary-content rounded-full flex items-center justify-center">
                  <span class="text-xs font-bold"><%= @post.user.user_name[0].upcase %></span>
                </div>
              <% end %>
            </div>
            <div class="flex gap-1">
              <span class="font-semibold"><%= @post.user.user_name %></span>
              <span>・</span>
              <span class="text-gray-500"><%= time_ago_in_words(@post.created_at) %>前</span>
            </div>
          </div>

          <%# いいね,お気に入りボタン %>
          <div class="rounded-full w-auto flex justify-center bg-base-300 shadow-lg p-2">
            <div class="mx-2">
              <%= render "like_btn", post: @post, variant: :medium %>
            </div>
            <div class="border border-gray-500"></div>
            <div class="mx-2">
              <%= render "favorite_btn", post: @post, variant: :medium %>
            </div>
          </div>
        </div>

        <%# キャラクター情報 %>
        <div class="p-2 border-y border-gray-500">
          <h2 class="text-lg font-semibold mb-2"><%= t('.characters') %></h2>
          <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <% @post.posts_to_characters.includes(:character).each do |ptc| %>
              <div class="relative flex flex-col items-center">
                <div class="relative flex justify-center">
                  <% if ptc.character.respond_to?(:character_img) && ptc.character.character_img.attached? %>
                    <%= image_tag url_for(ptc.character.character_img), class: "h-20 object-contain" %>
                  <% end %>

                  <div class="absolute bottom-0 right-1 bg-black bg-opacity-60 text-white rounded-full p-1 text-xs">
                    <%= ptc.constellation || 0 %>凸
                  </div>
                </div>

                <div class="text-center">
                  <div class="text-xs font-bold"><%= ptc.character.name %></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <%# おすすめポイント %>
        <div class="p-2">
          <div class="md:flex md:items-end gap-1">
            <div class="font-semibold"><%= @post.user.user_name %></div>
            <div class="text-sm"></div><%= t('.point') %></div>
          </div>

          <%# おすすめ再生時間指定 %>
          <% if @post.youtube_start_time.present? %>
            <div class="mt-2">
              <div class="flex gap-1 text-md mx-1 items-center text-gray-500">
                <p><%= t('.point_start_time') %></p>
                <a href="#" onclick="updateVideoTime('<%= youtube_id %>', <%= @post.youtube_start_time %>); return false;" class="text-lg text-blue-600 hover:text-blue-800">
                  <%= format_time(@post.youtube_start_time) %>
                </a>
              </div>
            </div>
          <% end %>

          <div class="text-md bg-base-300 p-2 rounded-xl mt-2">
            <%= simple_format(@post.body) %>
          </div>

          <%# タグ %>
          <% if @post.tags.any? %>
            <div class="post-tags mb-4">
              <div class="flex flex-wrap gap-2">
                <% @post.tags.each do |tag| %>
                  <%= link_to posts_path(tag: tag.name),
                      class: "inline-block bg-gray-500 text-md text-white px-2 py-0.5 rounded-full hover:bg-gray-600 transition-colors" do %>
                    #<%= tag.name %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <%# コメント機能 %>
    <div class="py-2 px-6">
      <div>
        <%= render 'comments/form', comment: @comment, post: @post %>
      </div>
      <div id="table-comment">
        <% @comments.where(parent_id: nil).each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>
      </div>
    </div>
  </div>
</div>
