<div class="flex-1 p-4 md:mx-4 my-10">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl md:text-3xl font-bold"><%= t('.title') %></h1>
  </div>

  <%# タブメニュー %>
  <div class="card">
    <div class="card-body p-0">
      <div class="tabs tabs-lifted md:tabs-lg w-full">
        <%= link_to mypage_path(tab: 'posts'),
            class: "tab #{'tab-active bg-base-300 rounded-full' if @active_tab == 'posts'}
            #{'hover:bg-base-200 text-gray-500 rounded-full' unless @active_tab == 'posts'}" do %>
            <i class="fab fa-youtube"></i>
            <div class="ml-1"><%= t('.video_share') %></div>
        <% end %>

        <%= link_to mypage_path(tab: 'team_ratings'),
            class: "tab #{'tab-active bg-base-300 rounded-full' if @active_tab == 'team_ratings'}
             #{'hover:bg-base-200 text-gray-500 rounded-full' unless @active_tab == 'team_ratings'}" do %>
            <i class="fas fa-users"></i>
            <div class="ml-1"><%= t('.team_rating') %></div>
        <% end %>

        <%= link_to mypage_path(tab: 'favorites'),
            class: "tab #{'tab-active bg-base-300 rounded-full' if @active_tab == 'favorites'}
             #{'hover:bg-base-200 text-gray-500 rounded-full' unless @active_tab == 'favorites'}" do %>
            <i class="fas fa-star"></i>
            <div class="ml-1"><%= t('.favorite') %></div>
        <% end %>

        <%= link_to mypage_path(tab: 'notifications'),
            class: "tab #{'tab-active bg-base-300 rounded-full' if @active_tab == 'notifications'}
            #{'hover:bg-base-200 text-gray-500 rounded-full' unless @active_tab == 'notifications'}" do %>
            <i class="fas fa-bell"></i>
            <div class="ml-1"><%= t('.request_notice') %></div>
            <%# まだ通知タブを開いていない場合のみ未読数を表示 %>
            <% unread_count = @active_tab == 'notifications' ? 0 : current_user.notifications.unread.count %>
            <% if unread_count > 0 %>
                <div class="badge badge-primary badge-sm ml-1"><%= unread_count %></div>
            <% end %>
        <% end %>
      </div>

      <%# タブ一覧 %>
      <div>
        <% case @active_tab %>
        <% when 'posts' %>
          <%= render 'tab_posts' %>
        <% when 'favorites' %>
          <%= render 'tab_favorites' %>
        <% when 'team_ratings' %>
          <%= render 'tab_team_ratings' %>
        <% when 'notifications' %>
          <%= render 'tab_notifications' %>
        <% else %>
          <%= render 'tab_posts' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
