<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "GTS" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <% if Rails.env.development? %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.9" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com?version=3.4.16"></script>
      <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "tailwind", media: "all", "data-turbo-track": "reload" %>
    <% else %>
      <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "tailwind", media: "all", "data-turbo-track": "reload" %>
    <% end %>

    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "tom_select_custom", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "theme_switcher", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="flex flex-col min-h-screen">
      <!-- ヘッダー -->
      <div class="fixed top-0 left-0 w-full z-40">
        <% if logged_in? %>
          <%= render 'shared/header' %>
        <% else %>
          <%= render 'shared/before_login_header' %>
        <% end %>
      </div>

      <!-- メイン部分 -->
      <div class="flex flex-grow mt-16">
        <% if ['top'].include?(controller_name) %>
          <!-- サイドバーがない場合 -->
          <div class="flex-1 w-full">
            <%= render 'shared/flash_message' %>
            <%= yield %>
          </div>
        <% else %>
          <div id="sidebar" data-sidebar-target="sidebar" class="hidden md:block fixed top-[64px] left-0 h-screen w-52 bg-base-200 overflow-y-auto z-30">
            <%= render 'shared/sidebar' %>
          </div>
          <!-- サイドバーがある場合 -->
          <div class="flex-1 md:ml-52 p-4 w-full overflow-x-hidden">
            <%= render 'shared/flash_message' %>
            <%= yield %>
          </div>
        <% end %>
      </div>

      <footer class="relative w-full z-40">
        <%= render 'shared/footer' %>
      </footer>
    </div>
  </body>
</html>
