<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "GTS" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <% if Rails.env.development? %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.9" rel="stylesheet" type="text/css" />
      <script src="https://cdn.tailwindcss.com?version=3.4.16"></script>
      <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <% else %>
      <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <% end %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "theme_switcher", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
